header{
    display: flex;
    align-items: center;
    width  : auto;
    background : $colors-2;
    .logo{
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    .panier{
        border: none;
        margin-right: 30px;
        width: 30px;
        height: 30px;
        background-image: url(./asset/shopping-basket-solid.svg);
        background-repeat: no-repeat;
     
           }
        .panier:hover  {
           
            margin-right: 30px;
            width: 30px;
            height: 30px;
             background-image: url(./asset/shopping-basket-solid-couleur.svg); 
             transition: 0.1s;
             border: none;
           }
    }
