#content.page2 {
    display: flex;
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    padding-bottom: 10px;
    justify-content: center;

    #content:hover {
        box-shadow: 0px 0px 50px rgb(0 0 0 / 30%);
    }
}

#content.page2 .product {
    padding: 1%;
    width: 50%;
    img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

}
#content.page2 a{
    height: 300px;
    display: block;
}
#content.page2 .basblock {
    background-color: $colors-1;
    padding: 15px;
    margin-top: -3px;

    .titrecard {
        min-height: 65px;
        color: white;
        padding-bottom: 15px;
        font-weight: 700;
        font-size: 1.5em;
    }

    .textecard {
        color: white;
    }
}

#content.page2 .selectEtBoutton {
    display: flex;
    margin-top: 20px;
    padding: 2px;
}


#content.page2 button {
    border-radius: 50px;
    border: 2px solid transparent;
    background-color: white;
    width: 200px;
    height: 30px;
    margin-left: 20px;
    cursor: pointer;
    transition: 0.3s;
}
#content.page2 button:hover{
    border-color: white;
    background-color: $colors-1;
    color:white;

}

@media screen and (max-width: 1200px) {
    #content.page2 .product {
        width: 60%;

    }

}

@media screen and (max-width: 900px) {
    #content.page2 .product {
        width: 60%;
    }
}

@media screen and (max-width: 500px) {
    #content.page2 .product {
        width: 90%;

    }
    #content.page2 .selectEtBoutton {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #content.page2 button {
        width: 100%;
        margin-left: 0px;
    }

    #vernisSelector #vernisSelect {
        width: 100%;
        margin-bottom: 11px;
    }
    
}


@media screen and (max-width: 400px) {}