input[type=select] {
    background-color : purple;
  }

  select{
   
    background: white;
  }
  select option{
      background: white;
  }

#vernisSelect{
    border: none;
    border-radius: 50px;

}