input[type=select] {
    background-color : purple;
  }

  select{
   
    background: white;
  }
  select option{
      background: white;
  }

  #vernisSelect {
    padding: 0px 10px;
    border: none;
    border-radius: 50px;
    height: 30px;
    width: 150px;
}