.titreCard{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.texteCard{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.texteVernis{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}